
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title></title>
      <!--<meta name="renderer" content="webkit">-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
      <!--<meta name="apple-touch-fullscreen" content="yes">-->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">

  </head>
  <body>
    <br>
    <div id="app" class="container-fluid" >
        
        <div class="input-group col-md-2 col-xs-12">
            <input type="text" class="form-control" placeholder="id" v-model="emp.id">
            <input type="text" class="form-control" placeholder="name" v-model="emp.name">
            <input type="text" class="form-control" placeholder="salary" v-model="emp.salary">
            <input type="text" class="form-control" placeholder="photo" v-model="emp.photo">
            <!--<input type="file" class="form-control" placeholder="photo">-->
        </div>

        <br>
        <a href="#" @click="addEmp" class="btn btn-primary">Add Emp</a>
        <a href="#" @click="getEmps" class="btn btn-primary">Get Emps Data</a>
        <a href="#" @click="calculate" class="btn btn-primary">Calculate</a>

        <br><br>
        <div v-if="total==0"></div>
        <div v-if="total!=0">
            <div class="bg-info" v-text="total"></div>
        </div>


        <br><br>

        <table class="table table-bordered table-hover ">
            <tr class="column-heading info">
              <th>id</th>
              <th>name</th>
              <th>price</th>
              <th>img</th>
            </tr>

            <tr v-for="emp in emps">
              <td v-text="emp.id"></td>
              <td v-text="emp.name"></td>
              <td>{{emp.salary| fmtSalary }}</td>
              <td>
                  <img class="img-circle" v-bind:src="emp.photo" alt="" height="50px" width="50px">
              </td>
            </tr>
        </table>

    </div>


    <!--<a href="tel:4008106999,1034">400-810-6999 转 1034</a>-->



  </body>
</html>

<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">


<script src="../node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
<script src="../node_modules/vue-resource/dist/vue-resource.js" charset="utf-8"></script>

<script src="js/emp.js" charset="utf-8"></script>
