
#auto {
    background-color: white;

    width: 100%;
    min-height: 120px;

    display: flex;
    flex-flow: column nowrap;
}

.items {
    width: 100%;
    border-top: 1px whitesmoke solid;
    border-bottom: 1px whitesmoke solid;
    height: 110px;

    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

}

.left {
    height: auto;
    /*background-color: cadetblue;*/
    width: 40px;

    display: flex;
    
}

.center {
    height: 110px; width: 240px;
    border-left: 5px gray solid;
}

.center div{
    height: 100px;
    width: 100px;

    border-radius: 20%;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    /*background-repeat: no;*/
}

.right {
    height: 110px;
    flex: 1;
}

.right div {
    flex: 1;
}
